body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main{
    display: grid;
    height: 100vh;

    grid-template-rows: 100px 1fr 60px;
}

.shopCardHeader{
    height: 55px;
}

.shopCardFooter{
    height: 56px;
}

.shopCardBody{
    height: 350px;
    display: flex;
    flex-direction: column;
}

.shopCardImg{
    height: 100px;
    object-fit: scale-down;
}

.shopCardText{
    overflow-y: auto;
}